@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*app {
    position: relative;
    display: flex;
    flex-direction: column;
}*/

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

/*.nav-item:first-of-type {
    padding-top: 1rem;
}*/

/*.nav-item:last-of-type {
    padding-bottom: 1rem;
}*/

.nav-item a {
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    font-weight: bold;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
}

.content {
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .plan-list-group-item {
        padding: .8125rem 0 !important;
    }
}


/* Buttons w/ loading indicator */

.fas.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.fa-left {
    margin-right: 7px;
}

/* End Buttons w/ loading indicator */

.input-group-text {
    border-radius: 0;
}

.input-group > .form-control {
    border-radius: 0;
}

.column-header {
    border-top: none !important
}

.nav-pills .nav-link.active {
    background-color: #5a6169;
    color: white !important;
    border-radius: 0;
    font-weight: 300;
}

.nav-link {
    transition: none;
}

.nav-item a {
    height: 2rem;
    line-height: 2rem;
}

a:hover {
    text-decoration: none;
    color: #a2061a;
}

a {
    color: #5a6169;
}

.breadcrumb {
    padding: 0;
}

.breadcrumb-text.active {
    font-weight: bold;
}

.exception-group-header {
    padding: 0;
    margin-top: 1rem;
}

.exception-group-header .btn-link:hover {
    text-decoration: none;
}

.exception-group-header .btn-link:focus {
    text-decoration: none;
}

.exception-group-contents {
    padding: 1.25rem;
}

.exception-type {
    font-size: 1.25rem;
}

.exception-type-time-subtitle {
    font-size: 0.8rem;
}

.stack-trace-frame {
    display: block;
}

.stack-trace-token {

}

code {
    padding: 0;
}

a, btn {
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
}

.project-nav {
    padding-left: 0;
}

.toggle {
    border-radius: 0;
}

.toggle .toggle-handle {
    border-radius: 0;
}

/* Loader Animation */
.loader-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-bottom: 5rem;
    bottom: 0;
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;
}

.dot-loader {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #c4183c;
    position: relative;
    -webkit-animation: 1.2s scaleDown ease-in-out infinite;
    animation: 1.2s scaleDown ease-in-out infinite;
}

    .dot-loader:nth-child(2) {
        margin: 0 15px;
        -webkit-animation: 1.2s scaleDown ease-in-out infinite .15555s;
        animation: 1.2s scaleDown ease-in-out infinite .15555s;
    }

    .dot-loader:nth-child(3) {
        -webkit-animation: 1.2s scaleDown ease-in-out infinite .300000s;
        animation: 1.2s scaleDown ease-in-out infinite .300000s;
    }

@-webkit-keyframes scaleDown {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleDown {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/* End - Loader Animation*/

.loading-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
}

tr.clickable {
    cursor: pointer;
}

input.form-control {
    border-radius: 0;
}

.json-property {

}

.plan-container-selected {
    border: 5px solid #1b6ec2;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.plan-container-unselected {
    border: 5px solid #dae0e6;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.plan-container-unselected:hover {
    border-color: #abb1b9;
}

.per-month {
    font-size: 50%;
    font-weight: 300
}

.plan-circle {
    color: #abb1b9;
}
    
/* Blue outline on focus */
.StripeElement--focus {
     border-color: #80BDFF;
     outline:0;
     box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
     transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
 }
/* Can't see what I type without this */
#card-number.form-control,
#card-cvc.form-control,
#card-exp.form-control {
    display:inline-block;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 500px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 500px;
}

@media (min-width: 768px) {
    body {
        /* Margin bottom by footer height */
        margin-bottom: 180px;
    }

    .footer {
        /* Set the fixed height of the footer here */
        height: 180px;
    }
}

/* End Sticky footer styles */

footer p {
    margin-bottom: 0;
}

.copyright-div {
    position: absolute;
    left: 0;
    bottom: 0;
}

.center-vertically {
    margin-top: auto;
    margin-bottom: auto;
}

.status-dropdown {
    -webkit-appearance: none;
}